#heading {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
}

#input {  
    text-align: center;
}

#todo {
    margin-left: 15%;
}

#button {
    margin-right: 15%;
}

#new {
    text-align: center;
    padding-top: 1.5rem;
    flex: 1 1 0%;
}

#newtask {
    /*border: hidden;*/
    color: red;
    padding-top: .25rem;

}