body {
    background-color: #1C282E ;
}

#heading {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: #A1AFCA
}

#input {  
    text-align: center;
    width: 800px;
    flex: 1 1 0%
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new {
    text-align: center;
    padding-top: 1.5rem;
}

#newtask {
    /*border: hidden;*/
    padding-top: .25rem;

}