body {
    background-color: #1C282E ;
}

#heading {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: #A1AFCA
}

#input {  
    text-align: center;
}

#todo {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#button {
    margin-right: 15%;
}

#new {
    text-align: center;
    padding-top: 1.5rem;
}

#newtask {
    /*border: hidden;*/
    color: red;
    padding-top: .25rem;

}